<configuration>
<system.webServer>
	<handlers>
		<remove name="iisnode" />
		<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
	</handlers>
	
	<rewrite>
		<rules>
			<rule name="procleanerManage">
			  	<match url="/*" />
			  	<action type="Rewrite" url="server.js" />
			</rule>
		   
		</rules>
	  
    </rewrite>
    <security>
		<requestFiltering>
			<hiddenSegments>
				<remove segment="node_modules" />
				<add segment="node_modules" />
			</hiddenSegments>
		</requestFiltering>
	</security>
</system.webServer>
</configuration>
