<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <span>Thêm người giúp việc </span>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading">
          Thông tin người giúp việc :
        </header>
        <div class="panel-body">
          <div class="form">
            <form novalidate="novalidate" class="form-validate form-horizontal" id="feedback_form" method="get" action="">


              <div class="form-group ">
                <label for="cname" class="control-label col-lg-4">Chứng minh nhân dân : <span class=" myRequiredIcon">*</span></label>
                <div class="col-lg-6">
                  <input ng-model="formData.cmnd" class="form-control valid" id="cname" length="9" required="" type="number" autofocus disabled="disabled" >
                </div>
              </div>
              <div class="col-lg-12 myWarning"  ng-show="wrong[0]">
                <label for="cname" class="control-label myWarningLabel" ><i class="fa fa-warning"></i> Chứng minh nhân dân không được trùng và có 9 chữ số </label>
              </div>


              <div class="form-group ">
                <label for="cname" class="control-label col-lg-4">Họ và Tên : <span class="myRequiredIcon">*</span></label>
                <div class="col-lg-6">
                  <input ng-model="formData.hoten" class="form-control valid" id="cname" minlength="1" required="" type="text">
                </div>
              </div>  
              <div class="col-lg-12 myWarning"  ng-show="wrong[1]">
                <label for="cname" class="control-label myWarningLabel" ><i class="fa fa-warning"></i> Họ và tên không được để trống </label>
              </div>

              <div class="form-group ">
                <label for="cname" class="control-label col-lg-4">Ngày sinh : <span class="myRequiredIcon">*</span></label>
                <div class="col-lg-6">
                  <input ng-model="formData.ngaysinh" class="form-control valid" id="cname" required="" type="date">
                </div>
              </div> 
              <div class="col-lg-12 myWarning"  ng-show="wrong[2]">
                <label for="cname" class="control-label myWarningLabel" ><i class="fa fa-warning"></i> Ngày sinh sai, vui lòng kiểm tra lại </label>
              </div>

              <div class="form-group ">
                <label for="cname" class="control-label col-lg-4">Số điện thoại : </label>
                <div class="col-lg-6">
                  <input ng-model="formData.sodt" class="form-control valid" id="cname" required="" type="number">
                </div>
              </div> 

             <div class="form-group ">
                <label for="cname" class="control-label col-lg-4">Quê quán : </label>
                <div class="col-lg-6">
                  <input ng-model="formData.quequan" class="form-control valid" id="cname" required="" type="text">
                </div>
              </div> 

              <div class="form-group ">
                <label class="control-label col-lg-4" >Hình ảnh : </label>
                <div class="col-lg-6 row ">
                  <input class="col-lg-3" type="file" id="chooseFileHelperAvatar" name="chooseAvatar" onchange="angular.element(this).scope().fileAvatarChanged(this);" accept="image/*"/>
                  <img class="helperAvatar myFancyBox" id="avatar" src="{{formData.hinhanh}}" alt="ảnh đại diện" />
                </div>
              </div>
              
              <div class="form-group ">
                <label for="cname" class="control-label col-lg-4">Lương :<span class="myRequiredIcon">*</span></label>
                <div class="col-lg-6">
                  <input  class="col-lg-6" ng-model="formData.luong" class="form-control valid" id="cname" required="" format="number" type="text" min="0">
                  <label class="control-label col-lg-4"> ( VNĐ/Tháng ) </label>
                </div>
              </div>
              <div class="form-group ">
              <div class="col-lg-12 myWarning"  ng-show="wrong[3]">
                <label for="cname" class="control-label myWarningLabel" ><i class="fa fa-warning"></i>  Lương chưa có giá trị, vui lòng kiểm tra lại </label>
              </div>
              </br>
              <div class="form-group ">
              <div class="col-lg-12 myWarning"  ng-show="wrong[4]">
                <label for="cname" class="control-label myWarningLabel" ><i class="fa fa-warning"></i> Dữ liệu sai, vui lòng kiểm tra lại  </label>
              </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-2" style="text-align:center;">
                        <button title="Lưu lại" type="save" class="btn btn-primary btn-label-left" ng-click="saveEdit()">
                        <span><i class="fa fa-floppy-o"></i></span>
                          Save
                        </button>
                      </div>
                      <div class="col-sm-offset-2 col-sm-2" style="text-align:center;">
                        <button title="Hủy bỏ và quay lại danh sách nhân viên"  class="btn btn-default btn-label-left" ng-click="cancelAddHelper()">
                        <span> <i class="fa fa-times txt-danger"></i></span>
                          Hủy Bỏ
                        </button>
                      </div>
              </div>
            </form>
          </div>
        </div>
    </section>
  </div>
</div>